/target/
.vscode/
.classpath
.project
.settings/
*.class
.env
.vscode/settings.json
dist/
*.exe
*.deb

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.idea/
*.jar
*.war
*.ear
*.log