%% Solid links show storage layout; dotted links show operations.
%% @title Dynamic array
%% @subtitle Indexed contiguous storage
flowchart LR

    subgraph Storage["size = 4 / capacity = 6"]
        direction LR
        I0["index 0<br/><b>12</b>"]:::data --- I1["index 1<br/><b>7</b>"]:::data
        I1 --- I2["index 2<br/><b>25</b>"]:::focus
        I2 --- I3["index 3<br/><b>9</b>"]:::data
        I3 --- I4["index 4<br/>empty"]:::note
        I4 --- I5["index 5<br/>empty"]:::note
    end

    Access["indexed access: 2"]:::action -.-> I2
    Append["append at size"]:::action -.-> I4
    class Storage container
